body {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 600px;
  margin: auto;
}

ol li, h1, h2, form label, label, textarea, select, input[type="text"] {
  color: #ffffff;
}

input[type="text"], textarea, select {
  background-color: #636363;
}

.center {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.bordered {
  border: 2px solid #FFFFFF;
}
